<h1 class="text-center color">Mes Favoris (<%= current_user.films.count %>)</h1>
<% if current_user.favorites.count < 3 %>
  <div class="alert-film" role="alert">
    <strong>Attention !</strong> Votre liste de film n'est pas assez fournie pour organiser une sortie. ( Minimum 3 films ) Ajoutez en d'autres en cliquant
    <%= link_to "ICI", root_path, style: "color: black" %>
  </div>
<% end %>
<div class="favorites pt-4" id="favorite" data-url="<%= api_draganddrop_path %>">
  <% current_user.favorites.each_with_index do |favorite, index| %>
    <div data-id="<%= favorite.id %>" class="d-flex justify-content-between align-items-center mb-1" id="favsortable">
      <div>
        <%= image_tag favorite.film.photo_url, style: "height: 100px; width: 70px;" %>
      </div>
      <p><%= favorite.film.title %></p>
      <div d-flex justify-content-between>
        <%= link_to "", favorite_path(favorite),
                    method: :delete,
                    class: "fas fa-times fa-2x remove-fav" %>
        <i class= "fas fa-bars p-2"></i>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center mt-4">
  <%= link_to "Ajouter d'autres films", root_path, class: "btn btn-primary bungee box-shadow" %>
</div>
