<div class="forms">
  <%= simple_form_for(@event) do |f| %>

    <%= f.input :date, as: :date, html5: true, order: [:day, :month, :year], label: "Choisis le jour de ta sortie :" %>

    <%= f.input :schedule, wrapper_html: { class: "radio-horaire mt-4 mb-4" }, collection: [['Matin', :matin], ['Après-midi', :apresmidi], ['Soir', :soir]], as: :radio_buttons, label: "Choisis ta plage horaire:"%>

    <%= f.input :cinema_id, collection: Cinema.pluck(:name, :id), label: "Choisis ton cinema:"%>

    <%= f.input :user_ids, as: :select, collection: current_user.friends, input_html: { multiple: true }, label: "Choisis tes amis:" %>

    <%= f.submit "Créer cet événement !", class: 'btn btn-primary mt-2 shadow-lg' %>
  <% end %>
</div>
