<h1 class=" d-flex justify-content-center mt-4 color">Invite tes amis</h1>

<div class="whatsapp">
  <div class="d-flex justify-content-center mt-4">
    <a style="color: rgb(44, 209, 82)" href="whatsapp://send?text=Hey, ca vous dit un ciné le <%= l(@event.date, format: :toto, locale: :fr)  %> (<%= @event.schedule %>), répond sur le site: <%= answer_url %>                                              N'oublie pas de mettre à jour ta liste de favories sur :<%= favorites_url %>"><i class="fab fa-whatsapp-square fa-4x"></i></a>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
  <%= link_to "Suivant", answer_path, class: "btn btn-secondary" %>
</div>
