<div class="cinema-filter">
  <%= simple_form_for :query, url: root_path, method: "GET", html: { class: "form-filter" } do |f| %>
  <%= f.input :id, as: :select, collection: Cinema.all.order("name ASC"), input_html: { class: "selectpicker form-control", "data-live-search" => "true", value: "Toto", placeholder: "" }, label: "Choisissez votre cinéma", prompt: "Tous", required: false %>
  <%= f.submit "Choisir", class: "btn bungee btn-primary" %>
  <% end %>
  <p class="mt-4 info-home alert-film">Nous avons pour le moment seulement les gros cinémas de Lyon de disponibles, mais si vous en désirez un autre, n'hésitez pas à nous contacter par mail : <a href="mailto:gocineclub@gmail.com">gocineclub@gmail.com</a></p>
</div>
<div class="color">
  <h1>A l'affiche</h1>
</div>
<div class="cinema-name">
  <% if @cinema.present? %>
    <h2 class="color2 bungee"><%= @cinema.name %></h2>
  <% end %>
</div>
<div class="fav-advise">
  Vous pouvez ici voir les films en ce moment à l'affiche dans les cinémas présents sur le site, ou dans le cinéma sélectionné s'il y en a un.
  <br>
  Il vous suffit d'ajouter les films que vous avez envie de voir à votre liste, en cliquant sur le bouton + .
  <br>
  Vous avez aussi la possibilité de cliquer sur une affiche pour avoir plus d'infos concernant le film en question.
  <br>
  Vous pourrez ensuite les classer dans votre ordre de préférence en allant voir votre liste d'envies, ou en cliquant
  <%= link_to "ICI", favorites_path, style: "color: black" %>
</div>
<div id="main">
  <% @films.each do |film| %>
    <div class="movie-card">
      <%= link_to film_path(film) do %>
        <%= image_tag film.photo_url, size: "160x200", class: "affiche-bord" %>
        <% if film.new? %>
          <p class="bungee new-icon">NEW !</p>
        <% end %>
        <% if film.top? %>
          <p class="bungee top-icon">5<i class="fas fa-star"></i></p>
        <% end %>
        <% if @favorites.include? film.id %>
        <% else %>
        <% if user_signed_in? %>
          <%= link_to film_favorites_path(film.id),
                      class: "plus-icon",
                      method: :post,
                      remote: true do %>
            <i class="fas fa-plus-square fa-3x"></i>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
