<!-- <div class="d-flex flex-column"> -->
<div class="d-flex align-items-center">
  <div class="mr-auto ml-1">
    <%= link_to :back,
          class: "goback" do %>
    <i class="fas fa-caret-square-left fa-3x"></i>
    <% end %>
  </div>
  <% if @favorites.include? @film.id %>
  <% else %>
  <div class="mr-1">
    <%= link_to film_favorites_path(@film.id),
          class: "add-film",
          method: :post,
          remote: true do %>
          <i class="fas fa-plus-square fa-3x"></i>
    <% end %>
  </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <h1 class=" d-flex justify-content-center"><strong><%= @film.title %></strong></h1>
</div>
<div class="mt-2 mb-4"><%= image_tag @film.photo_url, class: "affiche" %></div>
<div>
  <p>
    <strong>Synopsis:</strong><br>
    <%= @film.synopsis %>
  </p>
</div>
<div class=" d-flex bd-highlight">
  <p class="bd-highlight"><strong>Durée:</strong></p>
  <p class="ml-auto bd-highlight"><%= @film.duration %></p>
</div>
<% if @film.date_release %>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Date de sortie:</strong></p>
    <p class="ml-auto bd-highlight"><%= l(@film.date_release, format: :toto, locale: :fr) %></p>
  </div>
  <% else %>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Date de sortie:</strong></p>
    <p class="ml-auto bd-highlight">Pas de date disponible</p>
  </div>
<% end %>
<div class=" d-flex bd-highlight">
  <p class="bd-highlight"><strong>Genre:</strong></p>
  <p class="ml-auto bd-highlight"><%= @film.genre.join(", ") %></p>
</div>
<div class=" d-flex bd-highlight">
  <p class="bd-highlight"><strong>Note presse:</strong></p>
  <p class="ml-auto bd-highlight">
    <% if @film.rate_press  %>
    <% 5.times do |index| %>
    <% if @film.rate_press > index + 1 %>
    <i class="fas fa-star test"></i>
    <% elsif @film.rate_press > index + 0.5 %>
    <i class="fas fa-star-half-alt test"></i>
    <% else %>
    <i class="far fa-star test"></i>
    <% end %>
    <% end %>
    <% end %>
  </p>
</div>
<div class=" d-flex bd-highlight">
  <p class="bd-highlight"><strong>Note spéctateur:</strong></p>
  <p class="ml-auto bd-highlight">
    <% if @film.rate_viewer  %>
    <% 5.times do |index| %>
    <% if @film.rate_viewer > index + 1 %>
    <i class="fas fa-star test"></i>
    <% elsif @film.rate_viewer > index + 0.5 %>
    <i class="fas fa-star-half-alt test"></i>
    <% else %>
    <i class="far fa-star test"></i>
    <% end %>
    <% end %>
    <% end %>
  </p>
</div>
<div class="d-flex justify-content-center shadow-sm p-1 mt-3 mb-5 bg-white">
  <iframe width="560" height="315"
    src="https://www.youtube.com/embed/?listType=search&list=trailer+<%= @film.title.gsub(" ", "+") %> " frameborder="0"
    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>