<!-- <div class="d-flex flex-column"> -->
  <div class="mt-2 ml-1">
    <%= link_to :back do %>
    <i class="far fa-times-circle"></i>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <h1 class=" d-flex justify-content-center"><strong><%= @film.title %></strong></h1>
  </div>
  <div class="mt-2 mb-4"><%= image_tag @film.photo_url, class: "affiche" %></div>
  <div>
    <p>
      <strong>Synopsis:</strong><br>
      <%= @film.synopsis %>
    </p>
  </div>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Durée:</strong></p>
    <p class="ml-auto bd-highlight"><%= @film.duration %></p>
  </div>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Date de sortie:</strong></p>
    <p class="ml-auto bd-highlight"><%= @film.date_release %></p>
  </div>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Genre:</strong></p>
    <p class="ml-auto bd-highlight"><%= @film.genre.join(", ") %></p>
  </div>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Note presse:</strong></p>
    <p class="ml-auto bd-highlight"><%= @film.rate_press %>/5</p>
  </div>
  <div class=" d-flex bd-highlight">
    <p class="bd-highlight"><strong>Note spéctateur:</strong></p>
    <p class="ml-auto bd-highlight"><%= @film.rate_viewer %>/5</p>
  </div>
<!-- </div> -->
